.main{
    display: flex;
    justify-content: center;
    align-items: flex-end;
    gap: 20px;
}

.color{
    width: 300px;
    height: 300px;
    border-radius: 40%;
    background-color: purple;
}