@font-face {
    font-family: 'Curely';
    src: url('AA-Neon.ttf') format('opentype');
}



.main{
    display: flex;
    width: 700px;
    justify-content: center;
    align-items: flex-end;
    gap: 20px;
   
     position: relative; /* важно для псевдоэлемента */
     
}

.main::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url('кнопка.jpg');
    background-size: cover;
    
    opacity: 0.5; /* прозрачность ТОЛЬКО фона */
    z-index: -1; /* отправляем фон назад */
}
.color{
    width: 300px;
    height: 300px;
    border-radius: 40%;
    background-color: purple;
}

.sidebar{
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: center;
    gap: 30px;
}

 .button {
    font-family: 'Curely', cursive;
 width: 180px;
 height: 100px;
 margin-bottom: 20px;
    background-image: url('кнопка.jpg');
    background-size: cover;    /* растянуть на всю кнопку */
    background-position: center; /* центрировать текстуру */
    font-size: 27px;
   color:rgb(46, 30, 18);
border-radius: 0px 0px 40px 40px; /* скругленные низкие углы */
box-shadow: inset 0 -5px 10px rgba(0,0,0,0.2); 
position: relative;
    border: 3px solid #ffffff; /* светлый контур */
      transition: transform 0.3s ease; /* плавность */

}

.button::before {
    content: '';
    position: absolute;
    top: 2px;
    left: 5px;
    right: 5px;
    bottom: 5px;
    border: 2px dashed #292727; /* пунктир ВНУТРИ контура */
    border-top: none; /* убираем верхнюю строчку */
    border-radius:0px 0px 38px 38px;  ;
}

.button:hover {
    transform: translateY(-3px); /* подъём */
    cursor: pointer; /* курсор-рука */