@font-face {
    font-family: 'Curely';
    src: url('Curely-Free_Typeface.ttf') format('opentype');
}



.main{
    display: flex;
    width: 700px;
    justify-content: center;
    align-items: flex-end;
    gap: 20px;
   
     position: relative; /* важно для псевдоэлемента */
     
}

.main::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url('кнопка.jpg');
    background-size: cover;
    
    opacity: 0.5; /* прозрачность ТОЛЬКО фона */
    z-index: -1; /* отправляем фон назад */
}
.color{
    width: 300px;
    height: 300px;
    border-radius: 40%;
    background-color: purple;
}

.sidebar{
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: center;
    gap: 30px;
}

 .button {
    font-family: 'Curely', cursive;
 width: 200px;
 height: 60px;
    background-image: url('кнопка.jpg');
    background-size: cover;    /* растянуть на всю кнопку */
    background-position: center; /* центрировать текстуру */
    font-family: 'Curely', cursive;
    font-size: 30px;
   color:rgb(43, 27, 27);
}